*{
    margin: 0;
}


body {
    font-family: sans-serif;
    background: linear-gradient(#ffffff, rgb(235, 142, 142));
}

header {
    display: flex;
    flex-direction: column;
    height: 20vh;
  }
  footer {
    margin-top: 0;
    padding:0;
    font-family: sans-serif;
    background: rgb(235, 142, 142);
  }
  #title-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
  }

  nav {
    background-color: rgb(235, 142, 142);
    display: flex;
    height: 5vh;
    align-items: center;
}
#nav-div {
  display:flex;
  justify-content: center;
  background-color: rgb(235, 142, 142);
  border-top: 2px solid rgb(0, 118, 173);
  border-bottom: 2px solid rgb(0, 118, 173);
}
#nav-bar {
  display: flex;
  width: 100%;
  max-width: 900px;
  justify-content: space-between;
} 

a {
  color: rgb(0, 118, 173);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
color: rgb(255, 255, 255);
}
#aboutme-title {
    font-size: 60px;
    color: rgb(0, 118, 173);
  }



  /* other css */
#my-picture{
  /* background-image: url("https://scontent-lax3-2.xx.fbcdn.net/v/t39.30808-6/290491125_1083356139253709_1297290172570799567_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=JOC0lu4iIT0AX81YL-V&_nc_ht=scontent-lax3-2.xx&oh=00_AT8Uqn4xaBcAxeXTraiXZoeBRD1JIFNnOwZnq46apxNZEQ&oe=62D14D79"); */
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-top: 25px;
  margin-bottom: 5px;
}

#picture-section {
  display: flex;
  justify-content: center;
}
main{
  height: 80vh;
}

#grey-box{
display: flex;
  width: 1200px;
  height: 250px;
  margin: 10px;
  padding: 20px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
#bio-section {
  display: flex;
  justify-content: center;
  
}
#bio-div {
  color: white;
}